<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music With Me!</title>
    <link rel="stylesheet" href="/public/main_styles.css">
    <script language="JavaScript">    
        function playSound(noteName) {
            new Audio("/public/assets/sounds/Piano_"+noteName.toUpperCase()+".wav").play();
        }
    </script>
</head>
<body>
    <h1>Music With Me</h1>
    <main>
        {{{body}}}
    </main>
</body>
</html>