<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music With Me!</title>
    <link rel="stylesheet" href="/public/main_styles.css">
</head>
<header>
    {{!-- <form action = '/' method = 'GET'>
        <button class="noStyle"><h1>Music With Me!</h1></button>
    </form> --}}
    <h1>
        <button class = "openBut" onclick = "openNav()">&#8801;</button>
        <a href="/">Music With Me</a>
    </h1>
</header>
<body>
    <div id = "sideNav" class = "sidenav">
        <a href = "javascript:void(0)" class = "closebtn" onclick = "closeNav()"> &times;</a>
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/lessons">Lessons</a>
        <a class="navLink" href="/createAccount">Create Account</a>
        <a class="navLink" href = "/store">Store</a>
        <a class="navLink" href = "/leaderboard">Leaderboard</a>
    </div>
    <div id = "main">
        <main>
            {{{body}}}
        </main>
    </div>
</body>
<script src='/public/scripts/mainScript.js'></script>
</html>