<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music With Me!</title>
    <link rel="stylesheet" href="/public/main_styles.css">
    <script language="JavaScript">
        const INCCORECT_BEEP = false
        document.addEventListener("keydown", (event) => {
            if (window.location.href.includes('noteLesson')) {
                const el = document.getElementById(event.key.toUpperCase());
                if (el != undefined && el != null) {
                    el.click();
                }
            }
        });
        function playSound(noteName) {
            if (noteName != '') {
                new Audio("/public/assets/sounds/treble/Piano_treble_"+noteName.toUpperCase()+".wav").play();
            }
            else {
                new Audio("/public/assets/sounds/buzzer.wav").play();
            }
        }
        function checkAnswer(clickedButton, rightAnswer) {
            // will not work for Sharps and Flats yet!
            const rightNote = rightAnswer.substring(rightAnswer.indexOf('.png')-2, rightAnswer.indexOf('.png'));
            if (clickedButton == rightNote.substring(0, rightNote.length-1)) {
                console.log('yay!')
                console.log(rightNote);
                playSound(rightNote);
            }
            else {
                console.log('boo');
                INCCORECT_BEEP && playSound('');
            }
        }
        async function processClick(noteName, rightAnswer, imgList, numQs) {
            let pictures=imgList.split(',');
            let curQ = document.getElementById('qTracker').textContent.split('/')[0].split(' ')[1];
            checkAnswer(noteName, pictures[Number(curQ)-1]);
            if (Number(curQ) + 1 > Number(numQs)) {
                try {
                    const curLocation = window.location.href.split('noteLesson/')[1];
                    const fetchResult = await fetch('http://localhost:3030/newLesson/'+(Number(curLocation)+1).toString());
                    setTimeout( () => {
                        window.location.href = fetchResult.url;
                    }, 1000)
                }
                catch (e) {
                    console.log(e);
                }
            } else {
                // set the new text and new image
                document.getElementById('qImg').src = pictures[Number(curQ)];
                document.getElementById('qTracker').textContent = 'Question: ' + (Number(curQ)+1).toString() + '/' + numQs.toString();
                document.getElementById('qTrackerProgressBar').value =Number(curQ)+1;
            }
        }

        async function nextLevel(level) {
            const fetchResult = await fetch('http://localhost:3030/noteLesson/'+(Number(level)).toString());
            console.log(fetchResult);
            window.location.href = fetchResult.url;
        }

    </script>
</head>
<body>
    <h1>Music With Me</h1>
    <main>
        {{{body}}}
    </main>
</body>
</html>