@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap');
:root {
    --primary: #251926;
    --secondary: #E38F8F;
    --accent: #E38F8F;
    --lightBackground: #EDEDED;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    color: #E8E8E8;
}

body {
    background-color: #251926;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    background-color: #C89DD13B;
    color: #E8E8E8;
    font-family: 'Pacifico', serif;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 100;
    padding: 10px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 20%);
}

.lessonBody {
    background-color: var(--lightBackground);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 13px;
    padding: 20px;
    box-shadow: 0px 1px 86px #1A1A1A8C;
    /* box-shadow: 0px 1px 86px rebeccapurple; */
    max-width: 60vh;
    margin: 40px auto;
    width: 80%;
    overflow: hidden;
}

.lessonBody p {
    color: #251926;
    position: relative;
}

.lessonBody .buttonGroup button {
    padding: 17px 29px;
    border-radius: 13px;
    font-size: 28px;
    border: none;
    background-color: #61536E;
    color: #E8E8E8;
    box-shadow: 0px 0px 50px #1a1a1a52;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all .2s ease;
}

button:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 504px;
    margin-left: auto;
    margin-right: auto;
}

.actionButton {
    border-radius: 66px;
    background-color: #E38F8F;
    border: none;
    padding: 20px 40px 18px 40px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    transition: all .2s ease;
    box-shadow: 0px 0px 50px #1a1a1a17;
}

#qTrackerProgressBar::-moz-progress-bar {
    background: #E38F8F;
}

#qTrackerProgressBar::-webkit-progress-value {
    background: #E38F8F;
    /* status bar within card look */
    /* border-radius: 50px 50px 50px 0; */
    border-radius: 50px;
}

#qTrackerProgressBar::-webkit-progress-bar {
    background: transparent;
}

#qTrackerProgressBar {
    color: #E38F8F;
    background-color: #e38f8f82;
    /* status bar within card look */
    /* border-radius: 50px 50px 0 0; */
    border-radius: 50px;
    width: 100%;
    grid-column: 1 / span 3;
}

.lessonDetailsCard {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

.lessonDetailsCard img {
    width: 200px;
}

.lessonCards {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    color: black;
    overflow-x: auto;
    max-width: 1120px;
    width: max-content;
}

.questionHeader {
    display: grid;
    grid-template-columns: [first] 140px [second] auto [third] 140px;
    color: black;
}

#qTracker {
    grid-column: 2;
}

.scoreSection {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
}

.timerArea {
    grid-column: 2;
    margin-top: 16px;
    /* font-size: 100px; */
    /* position: absolute; */
}

#timer {
    position: absolute;
    font-size: 108px;
    left: 50%;
    text-align: center;
    margin-left: -500px;
    width: 1000px;
}

.reportCard {
    background: var(--lightBackground);
    color: black;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 14px;
    margin-top: 80px;
    position: relative;
}

.reportCard h2,
.store h2 {
    font-size: 60px;
    margin-bottom: 4px;
    font-weight: normal;
    margin-top: 24px;
}

.reportCard h3 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 14px;
}

.reportDetailsTable {
    width: 100%;
    margin: auto;
    font-size: 24px;
    border-spacing: 20px;
    margin-top: 30px;
}

.reportCard tr td:first-child {
    text-align: left;
}

.reportCard tr td:last-child {
    text-align: right;
    color: var(--accent);
}

.reportGrade {
    position: absolute;
    right: 40px;
    top: -5px;
    transform: rotate(345deg) scale(14);
    font-size: 61px;
    color: var(--accent);
    opacity: .9;
}

.animateStamp,
.as {
    animation: .25s animateStamp;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes animateStamp {
    0% {
        transform: rotate(345deg) scale(14);
        opacity: 20%;
    }
    100% {
        transform: rotate(345deg) scale(1);
        opacity: 100%;
    }
}

.cardNav {
    margin-top: 50px;
}

.bottomNav {
    margin-bottom: 64px;
}


/* store section */

.store{
    margin-bottom: 80px;
}

.store h2 {
    font-size: 60px;
    margin-bottom: 4px;
    font-weight: normal;
    margin-top: 66px;
}

.store h3{
    font-size: 28px;
    margin-top: 40px;
    font-weight: 100;
}

.storeBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-row-gap: 35px;
}

@media screen and (max-width: 1300px) {
    .storeBody{
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .storeBody{
        grid-template-columns: 1fr;
    }
}

.storeBody .storeCard {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.storeBody .cardImage {
    object-fit: cover;
    width: 400px;
    height: 230px;
    border-radius: 14px;
    box-shadow: 6px 0px 30px rgb(0 0 0 / 12%);
}

.storeBody .cardName {
    position: absolute;
    left: 14px;
    bottom: 0;
    font-size: 28px;
    background: rgba(0, 0, 0, .6);
    padding: 14px 14px 10px 14px;
    border-radius: 12px;
    transition: transform .25s;
    will-change: transform;
}

.storeBody .cardPrice {
    position: absolute;
    top: 0;
    right: 14px;
    background: rgba(0, 0, 0, .7);
    padding: 4px 3px 2px 3px;
    border-radius: 4px;
    transition: padding .25s;
    will-change: padding;
}

.cardLink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.storeBody .storeCard:hover .cardPrice {
    padding: 4px 19px 2px 8px;
}

.storeBody .storeCard .cardPrice:after {
    content: "♪";
    font-size: 16px;
    position: absolute;
    top: -1px;
    right: 7px;
    opacity: 0;
    transition: opacity .2s;
    /* transition-delay: .0s; */
}

.storeBody .storeCard:hover .cardPrice:after {
    content: "♪";
    /* transition-delay: .1s; */
    opacity: 1;
}

.storeBody .storeCard:hover .cardName {
    transform: scale(1.05);
}

.modalBackdrop{
    z-index: 3;
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.popUpModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary);
    padding: 55px 55px 40px 55px;
    border-radius: 14px;
    z-index: 3;
    font-size: 28px;
}

.modalText{
    margin-bottom: 54px;
}

.modalButton {
    margin-inline: 11px;
    width: 139px;
    padding: 20px 20px 18px 20px;
}




/* Count in section */

.countNumberSection {
    z-index: 3;
}

.countNumber {
    font-size: 274px;
    position: absolute;
    width: 100%;
    left: 0;
    /* height: 80%; */
    top: 36%;
    opacity: 0;
    color: var(--secondary);
    visibility: hidden;
}


/* #countNumber2, #countNumber3{
	display: none;
} */

.animateNumber,
.an {
    animation: .25s flashIn;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flashIn {
    0% {
        visibility: hidden;
        opacity: 0;
        top: 28%;
        /* transform:scale(3.0) */
    }
    85% {
        visibility: visible;
        top: 36%;
    }
    100% {
        visibility: visible;
        opacity: 1;
        /* top:36% */
        /* transform:scale(1.0) */
    }
}

.blurBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 2;
}

.animateBlur {
    animation: .3s unblur;
}

@keyframes unblur {
    from {
        backdrop-filter: blur(4px);
    }
    to {
        backdrop-filter: none;
    }
}

.animateHide {
    animation: .3s fadeOut;
}

.animateFadeOut{
    animation: .3s fadeOut;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.animateSwipeUpAway{
    animation: .8s animateSwipeUp, .3s fadeOut;
    animation-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}

@keyframes animateSwipeUp{
    0%{
        transform:translate(-50%, -50%)
    }
    100%{
        transform: translate(-50%, -871px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/*homepage styling*/

.homeBG {
    height: 700px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.divider {
    margin: 50px;
}

.homeText1 {
    position: absolute;
    top: 300px;
    text-align: left;
    left: 100px;
}

.homeText2 {
    position: absolute;
    top: 1150px;
    text-align: right;
    right: 100px;
}

.homeHeader2 {
    font-size: 48px;
    margin: 0px;
}

.startLearn {
    background-color: #ff9999;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 40px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
}

footer {
    padding: 10px;
}


/*lessons styling*/

.lessonHeader {
    font-size: 32px !important;
    margin-bottom: 4px;
}

.filterHeader {
    text-align: left;
}

.lesson-container {
    display: grid;
    grid-template-columns: [filters] 30% [lessons] 70%;
    margin: auto;
    padding: 50px;
}

.filters {
    max-width: 300px;
    grid-column: filters;
    border-right: 1px solid white;
}

.lessons {
    max-width: 1000px;
    grid-column: lessons;
}

.lessonSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.filter-list li {
    padding: 5px;
}

.subFilter li {
    font-size: 18px;
}

.subFilter li:hover,
.filterBtn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.subFilter li:active,
.filterBtn:active {
    filter: brightness(60%);
    cursor: pointer;
}

.filter-list {
    text-align: left;
    padding: 10px;
    list-style: none;
}

.filterSubheader {
    font-size: 24px;
}

.lessonCard,
.songCard {
    background-color: var(--lightBackground);
    width: 240px;
    height: 240px;
    border-radius: 8px;
}

.lessonCard:hover,
.songCard:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.lessonCard:active,
.songCard:active {
    filter: brightness(70%);
}

.lessonCard img,
.songCard img {
    width: 200px;
    margin-top: -40px;
}

.imgContainer {
    width: 200px;
    height: 120px;
    overflow: hidden;
    margin: auto;
}

.lessonCard h3,
.songCard h3 {
    color: var(--primary);
    font-size: 24px;
    margin-bottom: 0;
}

.lessonCard h4,
.songCard h4 {
    color: var(--secondary);
    margin: 6px;
}

.hideSpan {
    font-size: 18px;
    color: var(--secondary);
}

.hideSpan:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.hideSpan:active {
    filter: brightness(70%);
}

.filterSort {
    border: none;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
}

.subHeaderGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;
    margin-bottom: 12px;
}