@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&family=Red+Hat+Mono&display=swap');

:root {
    --primary: #251926;
    --secondary: #E38F8F;
    --accent: #E38F8F;
    --lightBackground: #EDEDED;
    --success: #b2eeb5;
    --neutral: #598bcb;
    --error: #cb5959;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    color: #E8E8E8;
}

body {
    background-color: #251926;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    background-color: #C89DD13B;
    color: #E8E8E8;
    font-family: 'Pacifico', serif;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 100;
    padding: 10px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 20%);
}

h1 a {
    text-decoration: none;
    color: inherit;
}


/* #main{
        justify-content: center;
    display: flex;
} */

.newLessonHeader {
    margin-top: 74px;
}

.lessonDescription {
    max-width: 455px;
    margin-inline: auto;
    text-align: justify;
    line-height: 1.3;
}

.lessonBody {
    background-color: var(--lightBackground);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 13px;
    padding: 20px;
    box-shadow: 0px 1px 86px #1A1A1A8C;
    max-width: 60vh;
    margin: 40px auto;
    width: 80%;
    overflow: hidden;
}

@media screen and (min-width: 880px) {
    .lessonBody {
        background-color: var(--lightBackground);
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        border-radius: 13px;
        padding: 20px;
        box-shadow: 0px 1px 86px #1a1a1a8c;
        max-width: 115vh;
        margin: 40px auto;
        width: 80%;
        overflow: hidden;
    }

    .lessonContent {
        position: relative;
        border-right: 1px solid #dbdbdb;
    }
}

.lessonBody p {
    color: #251926;
    position: relative;
}

.lessonBody .buttonGroup button {
    padding: 24px 29px;
    border-radius: 13px;
    font-size: 28px;
    border: none;
    background-color: #61536E;
    color: #E8E8E8;
    box-shadow: 0px 0px 50px #1a1a1a52;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all .2s ease;
    max-height: 80px;
}

button:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

.actionButton:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

a:focus,
.lessonCard:focus,
.songCard:focus,
.lessonCard:active,
.songCard:active {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
    border-radius: 4px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 504px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

@media screen and (min-width: 880px) {
    .buttonGroup {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
        max-width: 504px;
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: 1/1;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 2;
    }
}

.buttonAnswerError {
    outline-offset: 0px;
    animation: pulseOutlineError .7s linear forwards;
}

.buttonAnswerSuccess {
    outline-offset: 0px;
    animation: pulseOutlineSuccess .2s linear forwards;
}

@keyframes pulseOutlineError {
    0% {
        outline: 3px solid var(--error);
    }

    30% {
        outline: 8px solid var(--error);
        outline-offset: 4px;
    }

    100% {
        outline: 12px solid #cb595900;
        outline-offset: 4px;
    }
}

@keyframes pulseOutlineSuccess {
    0% {
        outline: 3px solid var(--success);
    }

    30% {
        outline: 8px solid var(--success);
        outline-offset: 4px;
    }

    100% {
        outline: 12px solid #b2eeb500;
        outline-offset: 4px;
    }
}

@keyframes doublePulseOutline {
    0% {
        outline: 3px solid red;
    }

    15% {
        outline: 8px solid red;
        outline-offset: 2px;
    }

    40% {
        outline: 8px solid;
        outline-offset: 2px;
    }

    41% {
        outline: 0px solid rgba(255, 0, 0, 0);
        outline-offset: 0px;
    }

    45% {
        outline: 0px solid red;
        outline-offset: 0px;
    }

    100% {
        outline: 12px solid rgba(255, 0, 0, 0);
        outline-offset: 4px;
    }
}

.cardNav .actionButton {
    margin-inline: 7px;
    margin-top: 14px;
}

.actionButton {
    border-radius: 66px;
    background-color: #E38F8F;
    border: none;
    padding: 20px 40px 18px 40px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    transition: all .2s ease;
    box-shadow: 0px 0px 50px #1a1a1a17;
}

#qTrackerProgressBar::-moz-progress-bar {
    background: #E38F8F;
}

#qTrackerProgressBar::-webkit-progress-value {
    background: #E38F8F;
    /* status bar within card look */
    /* border-radius: 50px 50px 50px 0; */
    border-radius: 50px;
}

#qTrackerProgressBar::-webkit-progress-bar {
    background: transparent;
}

#qTrackerProgressBar {
    color: #E38F8F;
    background-color: #e38f8f82;
    /* status bar within card look */
    /* border-radius: 50px 50px 0 0; */
    border-radius: 50px;
    width: 100%;
    grid-column: 1 / span 3;
}

#qImg {
    margin-top: 50px;
    width: 100%;
}

#multiplier {
    font-size: 20px;
    margin-left: 8px;
    position: absolute;
    top: 39%;
}

.lessonDetailsCard {
    background-color: white;
    width: 260px;
    padding: 20px 35px;
    margin-inline: 20px;
    border-radius: 8px;
}

.lessonDetailsCard h3 {
    font-size: 24px;
}

.lessonDetailsCard img {
    width: 260px;
    object-fit: cover;
    height: 185px;
    margin-top: 14px;
}

.lessonDetailsCard p {
    text-align: justify;
}

.lessonCards {
    display: flex;
    flex-direction: row;
    margin: 32px auto 40px auto;
    color: black;
    overflow-x: auto;
    max-width: 1120px;
    width: max-content;
}

.questionHeader {
    display: grid;
    grid-template-columns: [first] 140px [second] auto [third] 140px;
    color: black;
    margin-inline: 14px;
}

#qTracker {
    grid-column: 2;
}

.coinSection {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
}

.scoreSection {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
}

.timerArea {
    grid-column: 2;
    margin-top: -6px;
    /* font-size: 100px; */
    /* position: absolute; */
}

#timer {
    position: absolute;
    font-size: 54px;
    left: 50%;
    text-align: center;
    margin-left: -110px;
    width: 220px;
    font-family: 'Red Hat Mono', monospace;
    margin-top: 35px;
    transition: transform .3s ease;
    will-change: transform;
    transform: scale(1);
}


/* report card section */

.reportCard {
    background: var(--lightBackground);
    color: black;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 14px;
    margin-top: 80px;
    position: relative;
    width: 100%;
}

.reportCard h2,
.store h2,
.lesson-container h2 {
    font-size: 60px;
    margin-bottom: 4px;
    font-weight: normal;
    margin-top: 24px;
}

.reportCard h3 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 14px;
}

.reportDetailsTable {
    width: 100%;
    margin: auto;
    font-size: 24px;
    border-spacing: 20px;
    margin-top: 30px;
}

.reportCard tr td:first-child {
    text-align: left;
}

.reportCard tr td:last-child {
    text-align: right;
    color: var(--accent);
}

.reportGrade {
    position: absolute;
    right: 40px;
    top: -5px;
    transform: rotate(345deg) scale(14);
    font-size: 61px;
    color: var(--accent);
    opacity: .9;
}

@media screen and (max-width: 650px) {
    .reportGrade {
        top: 61px;
    }
}

.animateStamp,
.as {
    animation: .25s animateStamp;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes animateStamp {
    0% {
        transform: rotate(345deg) scale(14);
        opacity: 20%;
    }

    100% {
        transform: rotate(345deg) scale(1);
        opacity: 100%;
    }
}

.cardNav {
    margin-top: 50px;
}

.bottomNav {
    margin-bottom: 64px;
}


/* store section */

.store {
    margin-bottom: 80px;
}

.store h2,
h2.leaderheader {
    font-size: 60px;
    margin-bottom: 4px;
    font-weight: normal;
    margin-top: 66px;
}

.store h3 {
    font-size: 28px;
    margin-top: 40px;
    font-weight: 100;
}

.storeBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-row-gap: 35px;
}

.disabledCard {
    cursor: default;
    color: #c0c0c0;
}

.disabledCard .cardImage {
    filter: grayscale(1) brightness(0.3);
}

@media screen and (max-width: 1300px) {
    .storeBody {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .storeBody {
        grid-template-columns: 1fr;
    }
}

.storeBody .storeCard {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.storeBody .cardImage {
    object-fit: cover;
    width: 400px;
    height: 230px;
    border-radius: 14px;
    box-shadow: 6px 0px 30px rgb(0 0 0 / 12%);
}

.storeBody .cardName {
    position: absolute;
    left: 14px;
    bottom: 0;
    font-size: 28px;
    background: rgba(0, 0, 0, .6);
    padding: 14px 14px 10px 14px;
    border-radius: 12px;
    transition: transform .25s;
    will-change: transform;
    max-width: 372px;
    box-sizing: border-box;
    text-align: left;
}

.storeBody .cardPrice {
    position: absolute;
    top: 0;
    right: 14px;
    background: rgba(0, 0, 0, .7);
    padding: 4px 3px 2px 3px;
    border-radius: 4px;
    transition: padding .25s;
    will-change: padding;
}

.cardLink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.storeBody .storeCard:not(.disabledCard):hover .cardPrice {
    padding: 4px 19px 2px 8px;
}

.storeBody .storeCard .cardPrice:after {
    content: "♪";
    font-size: 16px;
    position: absolute;
    top: -1px;
    right: 7px;
    opacity: 0;
    transition: opacity .2s;
    /* transition-delay: .0s; */
}

.storeBody .storeCard:not(.disabledCard):hover .cardPrice:after {
    content: "♪";
    /* transition-delay: .1s; */
    opacity: 1;
}

.storeBody .storeCard:not(.disabledCard):hover .cardName {
    transform: scale(1.05);
}

#modalInsert {
    position: absolute;
}

.modalBackdrop {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.popUpModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary);
    padding: 55px 55px 40px 55px;
    border-radius: 14px;
    z-index: 3;
    font-size: 28px;
}

.modalText {
    margin-bottom: 54px;
    line-height: 39px;
}

.modalButton {
    margin-inline: 11px;
    width: 139px;
    padding: 20px 20px 18px 20px;
}


/* Count in section */

.countNumberSection,
.wrongAnswerSection {
    z-index: 3;
}

.countNumber {
    font-size: 274px;
    position: absolute;
    width: 100%;
    left: 0;
    /* height: 80%; */
    top: 36%;
    opacity: 0;
    color: var(--secondary);
    visibility: hidden;
}

#wrongAnswerX {
    display: none;
    opacity: 0;
    top: 31.5%;
    transition: opacity ease-out .12s;
    font-size: 274px;
    position: absolute;
    width: 100%;
    left: 0;
    color: var(--secondary);
}


/* #countNumber2, #countNumber3{
	display: none;
} */

.animateNumber,
.an {
    animation: .25s flashIn;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flashIn {
    0% {
        visibility: hidden;
        opacity: 0;
        top: 28%;
        /* transform:scale(3.0) */
    }

    85% {
        visibility: visible;
        top: 36%;
    }

    100% {
        visibility: visible;
        opacity: 1;
        /* top:36% */
        /* transform:scale(1.0) */
    }
}

.blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 2;
}

.animateBlur {
    animation: .3s unblur;
}

@keyframes unblur {
    from {
        backdrop-filter: blur(4px);
    }

    to {
        backdrop-filter: none;
    }
}

.animateHide {
    animation: .3s fadeOut;
}

.animateFadeOut {
    animation: .3s fadeOut;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.animateSwipeUpAway {
    animation: .8s animateSwipeUp, .3s fadeOut;
    animation-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}

@keyframes animateSwipeUp {
    0% {
        transform: translate(-50%, -50%)
    }

    100% {
        transform: translate(-50%, -871px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/*homepage styling*/

.homeBG {
    height: 700px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.divider {
    margin: 50px;
}

.homeText1 {
    position: absolute;
    top: 300px;
    text-align: left;
    left: 100px;
}

.homeText2 {
    position: absolute;
    top: 1150px;
    text-align: right;
    right: 100px;
}

.homeHeader2 {
    font-size: 48px;
    margin: 0px;
}

.startLearn {
    background-color: #ff9999;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 40px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
}

footer {
    padding: 10px;
}


/*lessons styling*/

.lesson-container h2 {
    grid-column: 1 / span 3;
}

.lessonHeader {
    font-size: 32px !important;
    margin-bottom: 4px;
}

.filterHeader {
    text-align: left;
}

.lesson-container {
    display: grid;
    grid-template-columns: [filters] 220px [lessons] auto [rightgutter] 220px;
    margin: auto;
    padding: 50px;
    max-width: 1545px;
}

.filters {
    max-width: 300px;
    grid-column: filters;
}

.subFilter {
    margin-left: 14px;
}

.lessons {
    max-width: 1000px;
    grid-column: lessons;
    margin-inline: auto;
    width: 100%;
    position: relative;
}

.lessons:after {
    content: " ";
    position: absolute;
    border-left: 1px white solid;
    top: 14px;
    left: -53px;
    height: calc(100% - 14px);
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 1500px) {
    .lessons {
        grid-column: span 2;
    }
}

.lessonSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

@media screen and (max-width: 1100px) {
    .lessonSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .lessonSection {
        grid-template-columns: repeat(1, 1fr);
    }
}

.filter-list li {
    padding: 5px;
}

.subFilter li {
    font-size: 18px;
}

.subFilter li:hover,
.filterBtn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.subFilter li:active,
.filterBtn:active {
    filter: brightness(60%);
    cursor: pointer;
}

.filter-list {
    text-align: left;
    padding: 10px;
    list-style: none;
}

.filterSubheader {
    font-size: 24px;
}

.lessonCard,
.songCard {
    background-color: var(--lightBackground);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    margin-inline: auto;
}

.lessonCard:hover,
.songCard:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.lessonCard:active,
.songCard:active {
    filter: brightness(70%);
}

.lessonCard img,
.songCard img {
    width: 200px;
    height: 100px;
    margin-top: 10px;
    object-fit: cover;
    object-position: center center;
}

.imgContainer {
    width: 200px;
    height: 120px;
    overflow: hidden;
    margin: auto;
    object-fit: cover;
}

.lessonCard h3,
.songCard h3 {
    color: var(--primary);
    font-size: 24px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
    padding: 0px 14px;
}

.lessonCard h4,
.songCard h4 {
    color: var(--secondary);
    margin: 6px;
}

.hideSpan {
    font-size: 18px;
    color: var(--secondary);
}

.hideSpan:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.hideSpan:active {
    filter: brightness(70%);
}

.filterSort {
    border: none;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
}

.subHeaderGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
    margin-bottom: 12px;
}

.login-form {
    width: 400px;
    margin: 20px auto;
}

input {
    border-radius: 4px;
    padding: 8px;
    border: none;
    outline: none;
    margin: 8px;
}

input:focus {
    outline: 3px solid var(--secondary);
}

.errorMessage {
    color: var(--error);
    font-size: 22px;
}

.littleLink {
    color: white;
    margin-top: 14px;
    display: block;
    font-size: 16px;
}

.littleLink:visited {
    color: var(--secondary);
}

.littleLink:hover {
    cursor: pointer;
}

.highScoreTxt {
    color: var(--secondary);
    margin: 6px 0px 0px 0px;
}

.howToLink {
    float: left;
    position: absolute;
    top: 100px;
    margin-left: 40px;
    text-decoration: underline;
}

.storeLink {
    color: var(--secondary);
}

.centeredP {
    height: 240px;
    margin-top: 100px;
}

#howTo {
    float: left;
    position: absolute;
    top: 140px;
    margin-left: 50px;
    width: 500px;
    height: 400px;
    overflow: scroll;
    background-color: var(--lightBackground);
    padding: 12px;
    border: 2px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.228);
    border-radius: 4px;
    resize: auto;
    max-width: fit-content;
}

#howTo * {
    color: var(--primary);
}

#howTo img {
    width: 400px;
}

.closeBtn {
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.closeBtn:hover {
    cursor: pointer;
}

.centerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centerFlex span {
    height: 32px;
    width: 32px;
}

.howToTitle {
    margin-bottom: 0;
}


/*Nav Bar*/

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    margin: auto;
    padding: auto 24px;
}

.header .littleLink {
    font-family: "Josefin Sans", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
    margin-inline: 18px;
}

.headerSideControl {
    width: 20%;
    text-align: left;
    margin-right: 36px;
}

.loginLink {
    text-align: right;
    font-size: 18px;
    ;
}

.homeLink {
    text-align: left;
    font-size: 22px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
}

.sidenav a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s;
    white-space: nowrap;
}

.sidenav .navLink {
    width: 250px;
    box-sizing: border-box;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openBut {
    width: 50px;
    margin-right: 130px;
    text-align: center;
    font-size: 50px;
    display: inline-block;
    background-color: #4A374D;
    border: none;
    border-radius: 4px;
    color: white;
}

.disabledLessonCard {
    filter: brightness(30%);
}

.disabledLessonCard:hover {
    cursor: default;
    filter: brightness(30%);
}

.lessonList {
    /* border: 1px solid white; */
    /* margin: 10px auto 20px auto; */
    width: 700px;
    padding-left: 8px;
    border-collapse: collapse;
}

.scrollingTable {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid white;
    width: 700px;
    margin: 10px auto 20px auto;
}

.lessonList tr:hover {
    background-color: black;
}

.lessonList td {
    padding: 8px 8px 8px 20px;
    font-size: 16px;
}

.tableHeader td {
    font-weight: bold;
    color: var(--secondary);
    font-size: 20px !important;
    position: sticky;
    top: 0;
    background-color: var(--primary);
    padding-top: 16px;
}

.levelName {
    text-align: left;
}

.logoutLink {
    color: var(--secondary) !important;
}

.logoutLink:hover {
    filter: brightness(70%);
}

/*Leaderboards*/

h2.leaderheader {
    margin-bottom: 24px;
}

.leaderboard {
    font-size: 26px;
    background-color: #4A374D;
    padding: 32px 36px;
    border-radius: 15px;
    width: 40%;
    margin: 20px 10px 20px 10px;
    max-width: 550px;
}

.leaderboard-th {
    padding-right: 25px;
    padding-left: 25px;
}

.leaderboard tr td:first-child {
    text-align: left;
}

.leaderboard tr td:last-child {
    text-align: right;
}

#leaderboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: min(83%, 3000px);
    margin-inline: auto;
}

.leaderboard tr td.noEntriesMessage {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    height: 100%;
    padding-top: 24px;
    color: #b4b4b4;
}

/* .userScore{
    font-family: 'Red Hat Mono', monospace;
} */


.leaderboard tr td.leaderboard-h3 {
    margin: 0px 0px 8px 0px;
    font-size: 36px;
    text-align: left;
    padding-bottom: 20px;
}