<h2 class="newLessonHeader"></h2>Welcome to the Bass Clef!</h2>
<p class="lessonDescription">
    Much like the treble clef, the bass clef is an indicator to musicians
    on how to read their music.
</p>
<section class="cardCard">
    <article class="lessonCards">
        <aside class="lessonDetailsCard">
            <h3>Bass Clef</h3>
            <img src='/public/assets/images/bass/bass_clef.png'>
            <p>
                This is what a bass clef looks like.
                It is also called the F clef because the two
                dots on the left side surround the F line.</p>
        </aside>
    </section>
</article>
<button id='nextLevelBtn' class="actionButton" autofocus onClick="startBass()">Begin Learning!</button>