<body>
    <form name="myForm" action="/" method="post" id="form">
        <label for="username">Usename:</label><br>
        <input type="text" id="username" name="username" required="required" minlength="5"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required="required" minlength="5"><br>
        <br>
        <button class="actionButton" type="submit" id="btn">Submit</button>
    </form>
</body>
