<header>
    {{!-- <h1 class = "homeBar">Home</h1> --}}
</header>
<body>
    <div>
        <img class = "homeBG" src = "../../public/assets/images/homepage/audioMixer.jpg">
        <div class = "homeText1">
            <h2 class = "homeHeader2">The new way to learn music</h2>
            <p> No time? No money for lessons? We got it from here. <br>
                Music With Me is the modern way to learn the basics about music.
            </p>
            <form class = 'index-form' action = '/lessons' method = 'GET'>
                <button class = "startLearn"> Start Learning Today!</button>
            </form>
        </div>
    </div>
    <div class = "divider">
    </div>
    <div>
        <img class = "homeBG" src = "../../public/assets/images/homepage/hourglass.jpg">
        <div class = "homeText2">
            <h2 class = "homeHeader2">5 Minute Lessons</h2>
            <p> Unlike other classes which can drag on and lead to burnout, <br>
                we utilize short period learning sessions, which help retain <br>
                information along with saving time throughout the day.
            </p>
            <form class = 'index-form' action = '/lessons' method = 'GET'>
                <button class = "startLearn"> Start Learning Today!</button>
            </form>
        </div>
    </div>
    <footer>
        <p>Created by Caleb Choy, Kaitlyn Sharo, Logan Rechler, and Jack Schneiderhan</p>
    </footer>
</body>