<h2 class = "leaderheader">Leaderboards</h2>
<body onload="javascript:fillLeaderboard({{json songs}}, {{json scores}}); javaScript:sortTable({{json songs}})">
    <div id = "leaderboard-container">
    </div>
</body>
