<body>
    <div class = "lesson-container">
        <section class = "filters">
            <h2 class = "filter-head">Filters</h2>
            <ul class = "filter-list">
                <li id = "subheader">Instruments</li>
                <ul class = "filter-list">
                    <li>Piano</li>
                    <li>Drums</li>
                    <li>Guitar</li>
                </ul>
                <li id = "subheader">Music Theory</li>
                <ul class = "filter-list">
                    <li>Scales</li>
                    <li>Sheet Music</li>
                </ul>
            </ul>
        </section>
        <section class = "lessons">
            <h2>Lessons</h2>
            <div class = "row">
                <div class = "content">
                <form class = 'index-form' action = '/piano' method = 'GET'>
                    <input class = "picture" type = "image" src ="../../public/assets/images/homepage/piano.jpg">
                    <div class = "caption">Piano</div>
                </form>
                </div>
                <div class = "content">
                    <form class = 'index-form' action = '/guitar' method = 'GET'>
                        <input class = "picture" type = "image" src ="../../public/assets/images/homepage/guitar.jpg">
                        <div class = "caption">Guitar</div>
                    </form>
                </div>
            </div>
            <div class = "row">
                <div class = "content">
                    <form class = 'index-form' action = '/drums' method = 'GET'>
                        <input class = "picture" type = "image" src ="../../public/assets/images/homepage/drums.jpg">
                        <div class = "caption">Drums</div>
                    </form>
                </div>
                <div class = "content">
                    <form class = 'index-form' action = '/sheetmusic' method = 'GET'>
                        <input class = "picture" type = "image" src ="../../public/assets/images/homepage/sheetmusic.jpg">
                        <div class = "caption">Sheet Music</div>
                    </form>
                </div>
            </div>
            <div class = "row">
                <div class = "content">
                    <form class = 'index-form' action = '/treble' method = 'GET'>
                        <input class = "picture" type = "image" src ="../../public/assets/images/homepage/clefs.jpg">
                        <div class = "caption">Clefs</div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>