<h2>Treble Clef Songs</h2>
{{#each trebleSongs}}
    <section>
        {{name}}
        {{price}}
    </section>
{{/each}}

<h2>Bass Clef Songs</h2>
{{#each bassSongs}}
    <section>
        {{name}}
        {{price}}
    </section>
{{/each}}