<h2 class="newLessonHeader">Welcome to the Treble Clef!</h2>
<p class="lessonDescription">
    A clef appears at the beginning of every line of music and tells
    the musician how to read their music. Notes will appear on spaces
    and lines of the staff, but depending on the clef, these notes
    will mean different things.
</p>
<section class="cardCard">
    <article class="lessonCards">
        <aside class="lessonDetailsCard">
            <h3>Treble Clef</h3>
            <img src='/public/assets/images/treble/treble_clef.png'>
            <p>
                This is what a treble clef looks like.
                It is also called the G clef because the heart
                of the clef surrounds the note we call a G.</p>
        </aside>
    </section>
</article>
<button id='nextLevelBtn' class="actionButton" autofocus onClick="startTreble()">Begin Learning!</button>